.header-container{
    display: flex;
    width: 100vw;
    height: 70px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: white;
    
}
ion-icon{
    cursor: pointer;
}
.left-section{
    width: 200px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.home-icon ion-icon{
    width: 22px;
    height: 22px;
}
.middle-section{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 400px;
    height: 40px;
    display: flex;
    border: 2px solid black;
    
    
    
}
.search-input{
    flex: 1;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 13px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 0;
    
}
.search-input::placeholder{
    font-weight: 500;
}
.search-button{
    width: 40px;
    height: 36px;
    padding: 8px 4px 4px 6px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
    
}
.search-button:hover{
    background-color: rgba(214, 210, 210, .8);
}
.search-icon ion-icon{
    width: 22px;
    height: 22px;
}
.right-section{
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
    padding-left: 5px;

   
}
.right-section .cart:hover, .right-section .bicycle:hover, .right-section .wallet:hover, .right-section .bag:hover{
   background-color: rgb(214, 210, 210);
   width: 40px;
   height: 40px;
   border-radius: 20px;
   
}
.right-section span ion-icon{
    width: 22px;
    height: 22px;
}
.cart, .bicycle, .wallet, .bag{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.cart-notification-tooltip{
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: rgb(173, 26, 26);
    color: white;
    font-size: 12px;
    border-radius: 100%;
    height: 17px;
    width: 17px;
    text-align: center;
    padding: 2px 0 2px 0px;
}
